<div class="container mt-5">
    <div class="card shadow p-4 mx-auto"
         style="max-width:400px;
                border-radius:20px;
                background-color:#F1FAEE;">

        <h2 class="text-center mb-4"
            style="color:#1D3557;">
            Login
        </h2>

        <form method="post">

            <div class="mb-3">
                <label>Email</label>

                <input name="Email"
                       class="form-control"
                       style="border-radius:10px;" />
            </div>

            <div class="mb-3">
                <label>Senha</label>

                <input name="Senha"
                       type="password"
                       class="form-control"
                       style="border-radius:10px;" />
            </div>

            <button type="submit"
                    class="btn w-100"
                    style="background-color:#2A9D8F;
                           color:white;
                           border-radius:12px;">
                Entrar
            </button>
        </form>
    </div>
</div>